################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/desafio-itau/.vs/desafio-itau/FileContentIndex/8bd370b2-55b3-4e49-9e3f-c7395c0a7168.vsidx
/desafio-itau/.vs/desafio-itau/FileContentIndex/cf8a2af6-71b9-4de4-a0d6-0a4323f1a102.vsidx
